<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    {% for message in messages %}
    {{message}}
    {% endfor %}
    <form method="POST" action="register">
    {% csrf_token %}
      <h1>Username</h1><br>
      <input type="text" name='username' /><br>
      <h1>Email</h1><br>
      <input type="text" name='email' /><br>
      <h1>Password</h1><br>
      <input type="password" name='password' /><br>
      <h1>Retype password</h1><br>
      <input type="password" name='password2' /><br>
      <input type="submit" />
    </form>
  </body>
  
</html>